*{  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;}



header { 
    margin: 47px 0 178px 42px;} 


section {
    display: inline-block;
    margin-left: 85px;
}


   
.link-header {
    color: #17233D;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing:  0.875px;
    width: 83px;
    height: 21px;
    margin-right: 32px;
    cursor: pointer;
}

.button-header { 
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    cursor: pointer;
    color: #FFF;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;

}

.img-logo{
    width:  533.834px;
    height: 466.9px;
    margin-left: 121px;
    display: inline-block;
   }

h1 { 
    width: 582px;
    height: 164px;
    color: #161A49;
    font-family: Poppins;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 132.258% */
    letter-spacing: 0.596px;
}

h2 { 
    width: 493px;
    height: 99px;
    color: #4B505A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 183.333% */
    letter-spacing: 0.5px;
    margin-top: 33px;
    margin-bottom: 69px;
}

 .link-main { 
    width: 112px;
    height: 27px;
    color: #6FBF44;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    background: transparent;
    border-radius: none;
}   